/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/




body{
   margin-inline: auto;
   line-height: 1.8;
   font-family: sans-serif;
}

main{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#testoAlternato{
    padding: 0 2rem 0 2rem;
    position: relative;
    top: 6rem;
    border: solid 0.2rem;
    border-color: gray;
    font-family: 'Bree Serif', sans-serif;
    font-size: 1.8rem;
    color: darkslategrey;
    border-radius: 15px;
}

span i{
    color: #7ea6bf;
}

